<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<main>
    <div id="upcoming_tournaments">
        <p>Insert Upcoming Tournament Data Here</p>
    </div>
    <div id="home_content">
         <p>Insert Main Layout Page Content Here</p>
    </div>
    <div id="active_tournaments">
         <p>Inser Active Tournaments Here</p>
    </div>
</main>
<% include partials/bootstrap.ejs %>
<% include partials/footer.ejs %>
    
