<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
        <main>
            <div class="container">
            <div class="row">
                <div id="upcoming_tournaments" class="col-md-4">
                    <p>Insert Upcoming Tournament Data Here</p>
                </div>
                <div id="home_content" class="col-md-4">
                    <p>Insert Main Layout Page Content Here</p>
                </div>
                <div id="active_tournaments" class="col-md-4">
                    <p>Inser Active Tournaments Here</p>
                </div>
            </div>
            </div>
        </main>
<% include partials/bootstrap.ejs %>
<% include partials/footer.ejs %>