<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
        <main>
            <div class="container">
                <div class="row">
                    <!--
                    <div id="upcoming_tournaments" class="col-md-4">
                        <h2>
                            Upcoming Tournaments
                        </h2>
                    -->
                        <!-- This ul will eventaully be dynamic and will display an li element for each "upcoming tournament" up to a maximum of 10 with a fixed character length.-->
                        <!--
                        <ul>
                            <li>
                                <a href="/">Tournament One</a>
                            </li>
                            <li>
                                <a href="/">Tournament Two</a>
                            </li>
                            <li>
                                <a href="/">Tournament Three</a>
                            </li>
                            <li>
                                <a href="/">Tournament Four</a>
                            </li>
                            <li>
                                <a href="/">Tournament Five</a>
                            </li>
                            <li>
                                <a href="/">Tournament Six</a>
                            </li>
                            <li>
                                <a href="/">Tournament Seven</a>
                            </li>
                            <li>
                                <a href="/">Tournament Eight</a>
                            </li>
                            <li>
                                <a href="/">Tournament Nine</a>
                            </li>
                            <li>
                                <a href="/">Tournament Ten</a>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div id="home_content" class="col-md-8">
                       <img src='/Content/images/sampleTourney.png' alt="Example Tournament">
                    </div>
                    <div id="active_tournaments" class="col-md-4">
                        <h2>
                        Active Tournaments
                    </h2>
                        <!-- This ul will eventaully be dynamic and will display an li element for each "active tournament" up to a maximum of 10 with a fixed character length. -->
                        <ul>
                            <li>
                                <a href="/">Tournament One</a>
                            </li>
                            <li>
                                <a href="/">Tournament Two</a>
                            </li>
                            <li>
                                <a href="/">Tournament Three</a>
                            </li>
                            <li>
                                <a href="/">Tournament Four</a>
                            </li>
                            <li>
                                <a href="/">Tournament Five</a>
                            </li>
                            <li>
                                <a href="/">Tournament Six</a>
                            </li>
                            <li>
                                <a href="/">Tournament Seven</a>
                            </li>
                            <li>
                                <a href="/">Tournament Eight</a>
                            </li>
                            <li>
                                <a href="/">Tournament Nine</a>
                            </li>
                            <li>
                                <a href="/">Tournament Ten</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <% include partials/bootstrap.ejs %>
            <% include partials/footer.ejs %>