/* custom style sheet */
html,body{
    background: #051821;
    color: #09C5E0;
}

/* NAV */
.navbar-custom {
background-color:#682EFF;
color:#ffffff;
border-radius:0;
min-height:75px !important;
}
.navbar-custom .navbar-nav > li > a {
color:#ffffff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
color: #ffffff;
background-color:transparent;
}
.navbar-custom .navbar-brand {
color:#ffffff;
padding: 0px;
}
.navbar-custom .navbar-brand img {
width: 100%;
padding-top: 2px;
min-height:70px !important;
}
.navbar-custom .navbar-brand h2 {
    padding: 0px 0px 0px 20px;
}
#searchTodo, #newTodo {
    display: block;
    width: 30%;
    border: 2px solid grey;
    padding: 5px;
    margin: 5px 0 5px 0;
}

main{
    margin-top: 1%;
}

/* Lists and Links */
#upcoming_tournaments,#active_tournaments{
    border: 2px #682EFF solid;
    border-radius: 30px;
    color: #F04408;
    max-height: 70%;
}
#home_content{
    color: #ffffff;
}
#home_content p{
    color: #ffffff;
    padding: 15px;
    width: 98%;
    background-color: #682EFF;
    border: 1px #682EFF solid;
}
#home_content img{
    width: 98%;
    max-height: 70%;
    border: 1px #682EFF solid;
}
#upcoming_tournaments ul, #active_tournaments ul  {
    padding-left: 0px;
}
#upcoming_tournaments ul li,#active_tournaments ul li{
    list-style-type: none;
    padding: 5px;
    font-size: 120%;
}
#upcoming_tournaments a,#active_tournaments a{
    color: #09C5E0;
}
